name: Build and Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installazione dipendenze
        working-directory: ./k2k-app
        run: npm ci

      - name: Build del progetto Angular
        working-directory: ./k2k-app
        run: npm run build -- --base-href /k2k/

      - name: Caricamento dei file pronti
        uses: actions/upload-pages-artifact@v3
        with:
          path: './k2k-app/dist/browser'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Pubblicazione sul sito
        id: deployment
        uses: actions/deploy-pages@v4