name: Build and Deploy Angular to gh-pages

on:
  push:
    branches:
      - main # Assicurati che il tuo branch principale si chiami 'main'

permissions:
  contents: write # Permesso per scrivere sul branch gh-pages

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installazione dipendenze
        # Entra nella cartella k2k-app prima di installare
        working-directory: ./k2k-app
        run: npm ci

      - name: Build del progetto Angular
        # Entra nella cartella k2k-app prima di compilare
        working-directory: ./k2k-app
        run: npm run build -- --base-href /k2k/

      - name: Deploy automatico sul branch gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Prende ESATTAMENTE la cartella con i file compilati mostrata nel tuo screenshot
          publish_dir: ./k2k-app/dist/browser